body{
    background-color: plum;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
button {
    background: linear-gradient(crimson,cornflowerblue); 
    border: 1px solid aqua;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    height:50px;
    width:50px;
}
button:hover,
button:active {
    background: coral; 
   
}
#result{
    height:50px;
    width:220px;
    background-color: greenyellow;
}
